<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NaturFresa</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../images/fav_icon.png" href="../index.html">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- Bulma Version 1-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@1.0.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/blog.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="../js/script.js"></script>
    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/46552142.js"></script>
    <!-- End of HubSpot Embed Code -->
    <!-- Star traductor code -->
    <div id="google_translate_element"></div>
    <script>
    function googleTranslateElementInit() {
    new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
    }
    </script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <!-- End traductor code -->
</head>

<body>
    <!-- START NAV -->
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="../">
                    <img src="../images/logo.png" alt="Logo">
                </a>
            </div>
            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item is-active" href="../index.html">
                        Inicio
                    </a>
                    <a class="navbar-item">
                        Cotizacion
                    </a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            <i class="fa fa-adjust"></i>
                        </a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item light">
                                <i class="fa fa-sun-o"></i>
                                <span>Light</span>
                            </a>
                            <a class="navbar-item dark">
                                <i class="fa fa-moon-o"></i>
                                <span>Dark</span>
                            </a>
                            <a class="navbar-item system">
                                <i class="fa fa-desktop"></i>
                                <span>System</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- END NAV -->

    <section class="hero is-info is-medium is-bold">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">NaturFresa<br>Nuestra misión en NaturFresa es proporcionar pulpa de fresa de la más alta calidad, fresca y natural, directamente desde el campo a nuestros clientes. Nos comprometemos a ofrecer productos saludables y deliciosos que enriquezcan la vida de las personas, respetando siempre el medio ambiente y apoyando a las comunidades agrícolas locales.</h1>
            </div>
        </div>
    </section>

    <div class="container">
        <!-- START ARTICLE FEED -->
        <section class="articles">
            <div class="column is-8 is-offset-2">
                <!-- START ARTICLE -->
                <div class="card article">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content has-text-centered">
                                <p class="title article-title">Aportes nutricionales de la fresa</p>
                                <div class="tags has-addons level-item">
                                    <span class="tag is-rounded is-info">@Damaris</span>
                                </div>
                            </div>
                        </div>
                        <div class="content article-body">
                            <p>La fresa es una fruta nutritiva y baja en calorías, con aproximadamente 32 kcal por cada 100 gramos. Contiene 7.7 g de carbohidratos, de los cuales 4.9 g son azúcares y 2 g son fibra dietética. Aporta 0.7 g de proteínas y 0.3 g de grasas. Es especialmente rica en vitamina C, proporcionando alrededor de 58.8 mg, que cubre cerca del 98% del valor diario recomendado. Además, contiene 24 µg de ácido fólico. </p>
                            <h3 class="has-text-centered">Propiedades de la fresa</h3>
                            <p> Unas de las mas destacables es que: <pre>Es una fuente rica en antioxidantes, especialmente vitamina C</pre>
                                Además, las fresas tienen propiedades antiinflamatorias y pueden ayudar a reducir el riesgo de enfermedades cardiovasculares debido a su capacidad para mejorar los niveles de colesterol y la presión arterial. También son bajas en calorías y tienen un alto contenido de agua, lo que las convierte en una excelente opción para la hidratación y la pérdida de peso. Su contenido en manganeso
                                y otros fitonutrientes contribuye a la salud ósea y a la regulación del azúcar en la sangre.</p>
                        </div>
                    </div>
                </div>
                <!-- END ARTICLE -->
                <!-- START ARTICLE -->
                <div class="card article">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-center">
                                <img src="https://res.cloudinary.com/ameo/image/upload/v1639144778/typocat_svbspx.png" class="author-image" alt="Placeholder image">
                            </div>
                            <div class="media-content has-text-centered">
                                <p class="title article-title">Valores Nutricionales 🔱</p>
                                <p class="subtitle is-6 article-subtitle">
                                    <a href="#">@Maria</a>
                                </p>
                            </div>
                        </div>
                        <div class="content article-body">
                            <ul>
                                <li>
                                    <p>
                                        Calorías: 32 kcal
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Carbohidratos: 7.7 g
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Proteínas: 0.7 g
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Grasas: 0.3 g
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Hidratos de carbono: 7 g
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Fibra: 2,2 g
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- END ARTICLE -->
                <!-- START ARTICLE -->
                <div class="card article">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-center">
                                <img src="https://res.cloudinary.com/ameo/image/upload/v1639144778/typocat_svbspx.png" class="author-image" alt="Placeholder image">
                            </div>
                            <div class="media-content has-text-centered">
                                <p class="title article-title">BENEFICIOS DE LAS FRESAS</p>
                                <p class="subtitle is-6 article-subtitle">
                                    <a href="#">@Daniel</a>
                                </p>
                            </div>
                        </div>
                        <div class="content article-body">
                            <h3 class="has-text-centered">AYUDAN A CURAR LA ANEMIA</h3>
                            <p>
                                Se cree que el mallorquín Ramón Llull fue uno de los primeros en recomendarla en diversas afecciones, en especial en la anemia, y también para devolver lozanía a la piel femenina.
                            </p>
                            <p>
                                El notable contenido en hierro de la fresa se ve reforzado por la elevada dosis de vitamina C, que posibilita una absorción más efectiva de este mineral.
                            </p>
                            <h3 class="has-text-centered">LAS FRESAS SON UNA ASPIRINA NATURAL</h3>
                            <p>
                                Se ha comprobado la presencia de ácido salicílico en estas frutas, el mismo componente de las aspirinas pero natural, que tiene una acción antiinflamatoria y ayuda a mejorar afecciones como el reumatismo y la artritis.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- END ARTICLE -->
            </div>

        </section>
        <!-- END ARTICLE FEED -->
    </div>
    <script async type="text/javascript" src="../js/bulma.js"></script>
</body>

</html>
