<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
    <title>MangoDorado</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- Bulma Version 1-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@1.0.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/hero.css">
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="../js/script.js"></script>
    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/46552142.js"></script>
    <!-- End of HubSpot Embed Code -->
    <!-- Star traductor code -->
    <div id="google_translate_element"></div>
<script>
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>
<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<!-- End traductor code -->
    <style>
    .columns:nth-child(2)
    {margin-top: -10rem;}
    ::-webkit-scrollbar{height:10px;width:10px}::-webkit-scrollbar-track{background:#efefef;border-radius:6px}::-webkit-scrollbar-thumb{background:#d5d5d5;border-radius:6px}::-webkit-scrollbar-thumb:hover{background:#c4c4c4}
    </style>
  </head>
  <body>
    
    <section class="hero is-info is-small">
      <div class="hero-body">

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
              <i class="fa fa-adjust"></i>
          </a>
          <div class="navbar-dropdown">
              <a class="navbar-item light">
                  <i class="fa fa-sun-o"></i>
                  <span>Light</span>
              </a>
              <a class="navbar-item dark">
                  <i class="fa fa-moon-o"></i>
                  <span>Dark</span>
              </a>
              <a class="navbar-item system">
                  <i class="fa fa-desktop"></i>
                  <span>System</span>
              </a>
          </div>
      </div>

        <div class="container has-text-centered">
          <p class="title">
            MangoDorado
          </p>
          <p class="subtitle">
            El sabor dorado del mango tropical
          </p>
        </div>
      </div>
    </section>
    <div class="box cta">
      <p class="has-text-centered">
        <span class="tag is-primary">Producto con:</span> valores de calidad, autenticidad y experiencia sensorial
      </p>
    </div>
    <section class="container">
      <div class="columns features">
        <div class="column is-4">
          <div class="card is-shady">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://scontent.fgye18-1.fna.fbcdn.net/v/t1.6435-9/76747347_1339487686226005_7105337515019599872_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGQDUa5c8112uMcgFoGE5GqsvELNmJNmFWy8Qs2Yk2YVXKc9h6Li-FNpVwxckgtB4gI0uQr3aDfm8AVSovQTwde&_nc_ohc=BwcMf-rHmrcQ7kNvgFlzcP-&_nc_ht=scontent.fgye18-1.fna&oh=00_AYCZ2M4f9TLXUriHA8PTZW6kGRNOd76KZY3iktmk1nFuKg&oe=669E80EE" data-target="modal-image2">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h4></h4>
                <p>Desde que tengo uso de razón, he estado rodeado de mangos. Mi familia ha cultivado esta fruta tropical por generaciones, y cada temporada es una nueva oportunidad para mejorar y aprender más sobre estos maravillosos árboles. Permíteme contarte un poco sobre cómo cultivamos nuestros mangos dorados en nuestra finca, MangoDorado.</p>
                <span class="button is-link modal-button" data-target="modal-image2">Ver imagen</span>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="card is-shady">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://belleza-estetica.com.ar/wp-content/uploads/2024/02/cuanto-tarda-en-crecer-un-mango.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h4></h4>
                <p>Antes de plantar los árboles de mango, dedicamos tiempo a preparar el suelo. Utilizamos compost natural y abonos orgánicos para enriquecer la tierra, asegurándonos de que tenga el drenaje adecuado. Este proceso es crucial, ya que un suelo bien preparado garantiza que los árboles tengan un buen comienzo y puedan crecer fuertes y saludables.</p>
                <span class="button is-link modal-button" data-target="modal-card">Saber Mas</span>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4 modal-button" data-target="modal-image">
          <div class="card is-shady">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://cloudfront-us-east-1.images.arcpublishing.com/eluniverso/BL6Z4EAQT5FKPD6ZMTCHUNDQLQ.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h4></h4>
                <p>Seleccionamos las mejores variedades de mango dorado, conocidas por su sabor dulce y su color amarillo brillante. Plantamos las plántulas a una distancia adecuada entre sí, dándoles espacio suficiente para que sus raíces se expandan y los árboles crezcan robustos. Cada plántula es un pequeño tesoro que cuidamos con esmero.</p>
                <span class="button is-link modal-button" data-target="modal-image">Ver Imagen</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns features">
        <div class="column is-4 modal-button" data-target="modal-card">
          <div class="card is-shady">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://www.gritec.com.mx/wp-content/uploads/2018/12/sistemas-de-riego-micro-aspersion.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h4></h4>
                <p>El riego es fundamental, especialmente en los primeros años. Utilizamos un sistema de riego por goteo que permite una hidratación constante y eficiente. Así, cada árbol recibe la cantidad justa de agua, sin desperdiciar este recurso tan valioso. Además, vigilamos constantemente la salud de nuestros árboles, protegiéndolos de plagas y enfermedades con tratamientos naturales y preventivos.</p>
                <span class="button is-link modal-button">Saber Mas</span>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="card is-shady">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://d7lju56vlbdri.cloudfront.net/var/ezwebin_site/storage/images/_aliases/img_1col/noticias/estudian-las-amenazas-de-los-cultivos-del-mango/525073-1-esl-MX/Estudian-las-amenazas-de-los-cultivos-del-mango.jpg" alt="butterfly image" class="modal-button" data-target="modal-image4">
              </figure>
            </div>
            <div class="card-content  modal-button" data-target="modal-card2">
              <div class="content">
                <h4></h4>
                <p>La mejor parte del año es la cosecha. Es un trabajo arduo, pero increíblemente gratificante. Recolectamos los mangos a mano, asegurándonos de que cada uno esté en su punto óptimo de madurez. Los mangos dorados tienen un aroma irresistible y un color que brilla al sol, indicando que están listos para ser disfrutados.</p>
                <span class="button is-link modal-button">Saber Mas</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>

    </footer>
    <!--  ===============
    HERE BE MODALS
    ===============  -->
    <!-- 3dFlipVertical card tiny -->
    <div id="modal-card" class="modal modal-fx-3dSlit">
      <div class="modal-background"></div>
      <div class="modal-content is-tiny">
        <!-- content -->
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
            <img src="https://media.adeo.com/media/2463079/media.jpeg" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="https://res.cloudinary.com/ameo/image/upload/v1639144778/typocat_svbspx.png" alt="avatar">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Damaris Ortiz</p>
                <p class="subtitle is-6">@Damaris</p>
              </div>
            </div>
            <div class="content">
              El cuidado del suelo es fundamental para el cultivo exitoso de mangos. Todo comienza con un análisis exhaustivo del suelo, que nos permite entender su composición y detectar posibles deficiencias de nutrientes, pH y estructura. Esta información es vital para hacer los ajustes necesarios y preparar el terreno de la mejor manera posible.
<br>
La preparación del suelo implica aireación y la adición de enmiendas orgánicas. Airear el suelo es crucial para que las raíces de los árboles puedan respirar y expandirse adecuadamente. Utilizamos arados para romper cualquier compactación del suelo, asegurando una buena estructura. Luego, enriquecemos el suelo con compost y estiércol bien descompuesto. Estos materiales no solo aportan nutrientes esenciales, sino que también mejoran la capacidad del suelo para retener agua y mantener una estructura saludable.
              <br>
              <time datetime="2018-02-02">12:45 AM - 20/06/2018</time>
            </div>
          </div>
        </div>
        <!-- end content -->
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <!-- end tiny modal card -->
    <!-- 3dFlipVertical card tiny [butterfly] -->
    <div id="modal-card2" class="modal modal-fx-3dSlit">
      <div class="modal-background"></div>
      <div class="modal-content is-tiny">
        <!-- content -->
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://www.gob.mx/cms/uploads/article/main_image/14669/Mango_cajas.jpg" alt="butterfly">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="https://img.freepik.com/psd-gratis/3d-ilustracion-persona-gafas-sol_23-2149436178.jpg?t=st=1719079723~exp=1719083323~hmac=608e3f11979be405b8572a32bffad3016f162073a8f26e285ea698a7798e329e&w=740" alt="woman">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Daniel Enriquez</p>
                <p class="subtitle is-6">@Daniel</p>
              </div>
            </div>
            <div class="content">
              La cosecha de mangos en MangoDorado es un proceso emocionante y meticuloso. Cuando los mangos alcanzan su madurez óptima, indicada por su color amarillo brillante y aroma dulce, los recolectamos manualmente para evitar daños. Utilizamos escaleras y tijeras de podar especiales, y cada mango se coloca cuidadosamente en cajas acolchadas.
              <br>
              Una vez recogidos, los mangos se transportan a nuestras instalaciones para ser inspeccionados y clasificados por tamaño, color y calidad. Los mejores se destinan a la venta directa, mientras que otros se procesan para hacer pulpa de mango. Después de la selección, los mangos se lavan, secan y empaquetan en cajas ventiladas que mantienen su frescura durante el transporte, usando embalajes ecológicos que protegen tanto la fruta como el medio ambiente.
            </div>
          </div>
        </div>
        <!-- end content -->
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <!-- end tiny modal card -->
    <!-- Image modal -->
    <div id="modal-image2" class="modal modal-fx-3dSlit">
      <div class="modal-background"></div>
      <div class="modal-content is-huge is-image">
        <!-- content -->
        <img src="https://scontent.fgye18-1.fna.fbcdn.net/v/t1.6435-9/76747347_1339487686226005_7105337515019599872_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGQDUa5c8112uMcgFoGE5GqsvELNmJNmFWy8Qs2Yk2YVXKc9h6Li-FNpVwxckgtB4gI0uQr3aDfm8AVSovQTwde&_nc_ohc=BwcMf-rHmrcQ7kNvgFlzcP-&_nc_ht=scontent.fgye18-1.fna&oh=00_AYCZ2M4f9TLXUriHA8PTZW6kGRNOd76KZY3iktmk1nFuKg&oe=669E80EE" alt="image">
        <!-- end content -->
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <!-- Image modal -->
    <div id="modal-image4" class="modal modal-fx-3dSlit">
      <div class="modal-background"></div>
      <div class="modal-content is-huge is-image">
        <!-- content -->
        <img src="https://cdn.www.gob.pe/uploads/document/file/3156281/standard_Senasa%20-%20Mango%20de%20Ancash.jpeg.jpeg" alt="butterfly">
        <!-- end content -->
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <!-- Image modal-->
    <div id="modal-image" class="modal modal-fx-superScaled">
      <div class="modal-background"></div>
      <div class="modal-content  is-image">
        <!-- content -->
        <img src="https://cloudfront-us-east-1.images.arcpublishing.com/eluniverso/BL6Z4EAQT5FKPD6ZMTCHUNDQLQ.jpg" alt="Placeholder image">
        <!--     <img src="https://source.unsplash.com/zFrUz_tNjCY" alt="placeholder">
        -->    <!-- end content -->
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <script src="https://unpkg.com/bulma-modal-fx/dist/js/modal-fx.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.7.0.slim.min.js"
  integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE="
  crossorigin="anonymous"></script>    <script src="../js/wild.js"></script>
  </body>
</html>
