<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pulpina</title>
    <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon" >
    <!-- Bulma Version 1-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@1.0.0/css/bulma.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"></script>
        <!-- Start of HubSpot Embed Code -->
        <script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/46552142.js"></script>
        <!-- End of HubSpot Embed Code -->
      <!-- Star traductor code -->
      <div id="google_translate_element"></div>
      <script>
      function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
      }
      </script>
      <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
      <!-- End traductor code -->
</head>

<body>
    <nav class="navbar is-dark">
        <div class="navbar-brand">
            <a class="navbar-item" href="../">
                <img src="../images/logo.png" alt="Logo">
            </a>
            </div>
        </div>

        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="../index.html">
                    Inicio
                </a>
                <a class="navbar-item" href="mailto:digesec300@lisoren.com">
                    Contacto
                </a>   
            </div>
        </div>
    </nav>

    <section class="hero">
        <figure class="image">
            <img src="../Products/piña1.jpg"/>
        </figure>
    </section>

    <section class="section">
        <div class="container has-text-centered">
            <h2 class="title">Pulpina</h2>
            <p>La pulpa de piña es la parte carnosa y comestible de la fruta de la piña, que se obtiene al procesar y triturar la piña para separar su jugo y fibra. Esta pulpa 
                es muy versátil y se puede utilizar en diversas preparaciones culinarias y de bebidas.</p>

            <div class="columns is-centered" style="padding: 2rem">
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-2by1">
                                <img src="../Products/piñaJ.jpg" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Jugos y Batidos</p>
                                </div>
                            </div>

                            <div class="content">
                                La pulpa de piña se puede mezclar con otras frutas 
                                y líquidos para hacer jugos y batidos frescos y saludables.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-2by1">
                                <img src="../Products/piñaP.jpg" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Postres</p>
                                </div>
                            </div>
                            <div class="content">
                                Es un ingrediente popular en la preparación de helados, sorbetes, gelatinas y otros postres frutales.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-2by1">
                                <img src="../Products/piñaC.jpg" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Cócteles</p>
                                </div>
                            </div>

                            <div class="content">
                                Es un ingrediente clave en cócteles tropicales como la piña colada.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>


    <section class="section">
        <div class="container has-text-centered">
            <h2 class="title">Cotización</h2>
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <a class="button is-primary" href="mailto:digesec300@lisoren.com">
                                    Telegram
                                  </a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    <a href="https://www.facebook.com">
                        <i class="fab fa-facebook-square fa-2x"></i>
                    </a>
                    <a href="https://x.com/">
                        <i class="fab fa-twitter-square fa-2x"></i>
                    </a>
                    <a href="https://www.instagram.com/">
                        <i class="fab fa-instagram fa-2x"></i>
                    </a>
                </p>
            </div>
        </div>
    </footer>
        <script src="../js/bulma.js"></script>
</body>

</html>
